body {
    background-color: rgba(146, 150, 153, 0.513);
}

.dropdown {
    background-color: cornflowerblue;
    width: max-content;
}

.dropdown-btn {
    padding: 8px;
    background-color: rgba(31, 187, 57, 0.952);
    position: relative;
    border: none;
    box-shadow: 1px 1px 2px rgba(83, 84, 85, 0.507);
    cursor: pointer;
}

.content {
    background-color: antiquewhite;
    display: none;
    width: 76.77px;
    position: absolute;
}

.content a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.dropdown:hover .content {
    display: block;
}

.content a:hover {
    background-color: rgba(146, 150, 153, 0.15);
}
























