body {
    background-color: rgba(146, 150, 153, 0.513);
}

.dropdown {
    background-color: cornflowerblue;
    width: max-content;
}

.dropdown-btn {
    padding: 8px;
    background-color: rgba(31, 187, 57, 0.952);
    border: 1px solid rgb(201, 216, 228);
    position: relative;
}

.content {
    background-color: antiquewhite;
}

.content a {
    display: block;
    text-align: center;
    text-decoration: none;
}


























